body{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;

}
section {
    width: 100%;
    height: 100vh;
}
section .titre{
    text-align: center;
    padding-top: 40px; 
}
section .titre {
    font-size: 32px;
    font-weight: bold;
}
section .titre p{
    font-family: "Roboto", serif;
    font-size: 28px;
}
.container{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-auto-rows: 250px;
    grid-gap: 15px;
}
.container .items{
    width: 100%;
    height: 100%;
    display: flex;
     justify-content: end; 
     align-items: start; 
    flex-direction: column; 

}
.item1{
    background: url("images/img1.jpeg");
    background-size: cover;
    background-position: center;
}
.item2{
    background:  url("images/img2.jpeg");
    background-size: cover;
    background-position: center;
}
.item3{
    background:  url("images/img3.jpeg");
    background-size: cover;
    background-position: center;
}
.item4{
    background:  url("images/img4.jpeg");
    background-size: cover;
    background-position: center;
}
.item5{
    background:  url("images/img5.jpeg");
    background-size: cover;
    background-position: center;
}
.item6{
    background:  url("images/img6.jpeg");
    background-size: cover;
    background-position: center;
}
.item7{
    background:  url("images/img7.jpeg");
    background-size: cover;
    background-position: center;
}

.item8{
    background:  url("images/img8.jpeg");
    background-size: cover;
    background-position: center;
}
.item9{
    background:  url("images/img9.jpeg");
    background-size: cover;
    background-position: center;
}
.item10{
    background:  url("images/img10.jpeg");
    background-size: cover;
    background-position: center;
}
.container .items h2{
    font-size: 32px;
    font-weight: 600px;
     margin-bottom:5px; 
    color:rgb(55, 55, 59)
}
.container .items p{
    font-size: 16px;
    font-weight: bold;
    color: rgb(73, 73, 78);
}